* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 850px;
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position: relative; */
  /* padding: 0 100px; */
}
.banner-text {
  width: 708px;
  height: 506px;
}
.header-h1 {
  font-size: 80px;
}
.btn-primary {
  background-color: rgb(229, 84, 115);
  color: white;
  padding: 20px 43px;
  border: 0;
  font-size: 20px;
  border-radius: 8px;
}
.img-banner {
  width: 635px;
  height: 800px;
  margin-top: 55px;
  /* position: absolute;
  top: 50px;
  left: 1045px; */
}
.text-center {
  text-align: center;
}
.feature-section {
  margin: 178px 0 128px;
}
.feature-text {
  width: 594px;
  margin: 0 auto 48px;
}
.feature-images {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}
.img-feature {
  width: 310px;
  height: 428px;
}
.bg-img {
  width: 464px;
  height: 538px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}
.bg-pink {
  background-color: rgba(167, 33, 98, 0.15);
}
.img-pink {
  margin-top: 110px;
  margin-left: 60px;
}
.bg-cyan {
  background-color: rgba(5, 151, 160, 0.15);
}
.img-cyan {
  margin-top: 100px;
  margin-left: 80px;
}
.bg-olive {
  background-color: rgba(71, 125, 17, 0.15);
}
.img-olive {
  margin-top: 110px;
  margin-left: 60px;
}
